@import "../client/node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../client/node_modules/bulma/sass/utilities/functions.sass";
@import "../client/node_modules/bulma/sass/utilities/derived-variables.sass";
@import "https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Newsreader:wght@200&family=Questrial&display=swap";
$newpink:#fdf0e6;
$newpink-invert: findColorInvert($newpink);
$addColors:(
"newpink":($newpink,$newpink-invert),
);
$colors: map-merge($colors,$addColors );
// $family-serif: "Merriweather","Newsreader","Questrial",serif,sans-serif;
// $family-primary: $family-serif;
$family-questrial: "Questrial", sans-serif;
$family-primary: $family-questrial;
@import "../client/node_modules/bulma/bulma.sass";


